@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1575516517712'); /* IE9 */
  src: url('iconfont.eot?t=1575516517712#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('data:application/x-font-woff2;charset=utf-8;base64,d09GMgABAAAAAAKYAAsAAAAABkQAAAJLAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHEIGVgCCcApMXwE2AiQDCAsGAAQgBYRtBzEbhgXILrBteJNAt73qGx2Dw8Q1IhAO8fD/a7T7Zv6aS/MsmjY6UALbEKuwoe2WgJQGp+Ohz9XaFtGSdjoeSaZJ+8vecbzvLzad0KRUUiJECI2c4BnKL2ZncMjNDwfgyNIAIZ+4d/on0AdZPaAc97I9aG3qAuriQApob4wiK5LIG8YueIGPCVTqVZPZnay2UJbYqwLxzGgLyoWQJLFsuVDacDCJD0qUZy+z8D76fvyzGGUyJTl748HV2IXeTz/lz4s6DwhhAjxeghzTQCJOGlN7coJxOZWpvEFwrMLgp6IIXOKodsH+Oju/GnRDxTMpvZUCZPBYIzUC7ZM2EY3R6nX3+Lrl8tnslF08Xj3c/S+/sCd97FzsfHF//9Db9xj81ovOpQ49gOJL/i3fggyC7+uPvUwCP2o/XUaB4ksyzAPK9+EK/0I5sCsZatuZJU3Z2J9pPEdDpUoUsK/Rb6ql5cS5UK5lgqdMT4ZcuWEysdMoUWUZpcptoNKU6fEqTVhOpApMugOEem9kan1Grt6HTOwXJVr9Uao+cqh0Fi6sMhqmOpMl5KJ9Q+NEoXLdUo0L16RPvsV5dcTviVMTxfbsfDk7pZB4iS3pWXdEFCqOApyA58j3I4w5OpIjjYNI3G3OXTW9qeFEAVTtYMQiiAvZbpDhiIRUMFhUK59fI9qJz8IdHXX5PcJSZnzU1tAaQE4N4aCOR3kldaZ1CKEghUUCaALmEZ8vguLmeUfEIRoOExKxrqbTSw01NLY3BX93CCrZ1iycmbmyawq1e4oAAAAAAA==') format('woff2'),
  url('iconfont.woff?t=1575516517712') format('woff'),
  url('iconfont.ttf?t=1575516517712') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
  url('iconfont.svg?t=1575516517712#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-gengduo:before {
  content: "\e600";
}

